$primary-font-stack: 'Poppins', sans-serif;
$secondary-font-stack: 'Libre Bodoni', serif;
$primary-color: #3ab0ff;
$primary-variant-color: #1089ff;
$secondary-color: #feb139;
$secondary-variant-color: #fd841f;
$accent-color: #fff;
$accent-variant-color: #f9f9f9;
$text-color: #1e1e1e;
$text-variant-color: #000;
